/##################################################################
/#                  Licensing Information                         #
/#                                                                #
/#  The following code is licensed, as standalone code, under     #
/#  the Ruby License, unless otherwise directed within the code.  #
/#                                                                #
/#  For information on the license of this code when distributed  #
/#  with and used in conjunction with the other modules in the    #
/#  Amp project, please see the root-level LICENSE file.          #
/#                                                                #
/#  © Michael J. Edgar and Ari Brown, 2009-2010                   #
/#                                                                #
/##################################################################

= link_to_file root, changeset_node, nil, :text => "/", :class => "pagebutton"
- parts = path.split("/").map {|p| p + '/' }
- parts.last.chop! if vf_cur && parts.last
- parts.inject("") do |total_name, item|
  = link_to_file root, changeset_node, total_name, :text => item, :style => "clear:none;", :class => "pagebutton"
  - total_name + item
  
%table.browser-list
  %tr
    %th.filename Filename
    %th.date Date
    %th.message Message
  - file_list.each do |file|
    %tr{:class => (path + "/" + file[:link] == file_path) ? "selected" : ""}
      - if file[:type] == :file
        - fl = repo.file_log(path + '/' + file[:name])
        - last = fl[-2].link_rev
      %td.filename
        = link_to_file root, changeset_node, file[:link], :text => file[:name]
      %td.date
        - if file[:type] == :file
          = rel_date repo[last].easy_date
      %td.message
        - if file[:type] == :directory
          %i (directory)
        - else
          = repo[last].description