/##################################################################
/#                  Licensing Information                         #
/#                                                                #
/#  The following code is licensed, as standalone code, under     #
/#  the Ruby License, unless otherwise directed within the code.  #
/#                                                                #
/#  For information on the license of this code when distributed  #
/#  with and used in conjunction with the other modules in the    #
/#  Amp project, please see the root-level LICENSE file.          #
/#                                                                #
/#  © Michael J. Edgar and Ari Brown, 2009-2010                   #
/#                                                                #
/##################################################################

#navbar
  %ul
    %li{:class => (selected == "commits" ? "selected" : "")}
      %a{:href => root+"/commits/"} Commits
    %li
      = link_to_file root, "tip", nil, :text => "Latest Source"
    - if defined?(changeset) && changeset
      %li
      %li{:class => "selected"}== Changeset: #{changeset.revision}
      %li= link_to_changeset root, changeset.node_id.hexlify, :text => "Overview"
      %li= link_to_file root, changeset.node_id.hexlify, nil, :text => "Browse Source"
    - if defined?(file) && file
      %li
      %li{:class => "selected"}== #{file.path.split('/').last}
      %li= link_to_file      root, changeset.node_id.hexlify, file.path, :text => "Source"
      %li= link_to_file_raw  root, changeset.node_id.hexlify, file.path, :text => "Raw"
      %li= link_to_file_diff root, changeset.node_id.hexlify, file.path, :text => "Diff"