/##################################################################
/#                  Licensing Information                         #
/#                                                                #
/#  The following code is licensed, as standalone code, under     #
/#  the Ruby License, unless otherwise directed within the code.  #
/#                                                                #
/#  For information on the license of this code when distributed  #
/#  with and used in conjunction with the other modules in the    #
/#  Amp project, please see the root-level LICENSE file.          #
/#                                                                #
/#  © Michael J. Edgar and Ari Brown, 2009-2010                   #
/#                                                                #
/##################################################################

!!!
%html
  %head
    %title== Changeset: #{@changeset.node_id.hexlify[0..9]}
    %link{:rel => "stylesheet", :href => "/stylesheet.css"}
  %body
    #main_container
      = haml :_navbar, :locals => {:root => root, :selected => "overview", :changeset => @changeset}
      #main
        %h2.header== Changeset #{@changeset.revision}:#{@changeset.node_id.hexlify[0..11]}
        .changeset-desc
          %blockquote= @changeset.description
          %table.two-column
            %tr
              %td.label author
              %td.data= @changeset.user
            %tr
              %td.label date
              %td.data== #{@changeset.easy_date.to_s} (#{rel_date(@changeset.easy_date)})
            %tr
              %td.label parents
              %td.data= @changeset.parents.map { |p| link_to_changeset(root, p.node_id.hexlify) }.join(" ")
            %tr
              %td.label children
              %td.data= @changeset.children.map {|c| link_to_changeset(root, c.node_id.hexlify) }.join(" ")
            %tr
              %td.label files
              %td.data= @changeset.changed_files.keys.map {|file| link_to_file(root, @changeset.node_id.hexlify, file) }.join("<br />")
        %ul.diff-list
          - @changeset.changed_files.keys.each do |file|
            - vf_cur = @changeset[file]
            - vf_parent = vf_cur.parents.first
            %li
              %h2= vf_cur.path
              %ul.diff
                = parse_diff(vf_cur.unified_diff_with(vf_parent))